
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

html{
    background-color: #ededed;
    color: #1f1f1f;
   
}
a{
    text-decoration: none;
    color: inherit;
}