---
import Layout from '../layouts/Layout.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager:true}));
const pageTitle = "Galerie";

---

<Layout pageTitle={pageTitle}>
	<ul class="posts-list">
		{allPosts.map((post:any)=> <li class="posts-item"><a class="posts-link" href="{post.url}">{post.frontmatter.title}</a></li>)}
	</ul>
</Layout>
<style>
	.posts-link {
		color: #1f1f1f
	}
</style>